<!DOCTYPE html>
<html>
<head>
  <title>Session</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://rawgithub.com/neves/9598842/raw/534aa25131e9e0c98dfda6c482fa2e503842415f/rails-scaffold-bootstrap.js" %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>

<div class="btn-group pull-right">
  <%= link_to_unless(logado?, 'login', login_path, class: 'btn btn-primary'){} %>
  <%= link_to_if(logado?, 'logout', logout_path, class: 'btn btn-danger'){} %>
</div>

<%= yield %>

</body>
</html>
